<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ .Site.BaseURL }}/images/icons/{{ .Site.Params.favicon  }}" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/images/icons/{{ .Site.Params.appletouchicon  }}" />
    <style>
        a img { border: 0 }
        body { background-color: #caecf6 }
        #noraptor {
            left: 0%;
            position: fixed;
            top: 60%;
        }
        h1 {
            margin: auto;
            text-align: center;
            padding-top: 50px;
            font-size: 5em;
        }
        #notfound {
            background: url({{ .Site.BaseURL }}/img/notfound.png);
            height: 62px;
            left: 50%;
            margin-left: -153px;
            margin-top: -31px;
            position:absolute;
            top: 50%;
            width: 306px;
        }
    </style>
    </head>
    <body>
        
        <a href="https://demo.lufi.io">
            <img alt="Bye!" id="noraptor" src="{{ .Site.BaseURL }}/img/noraptor.png">
        </a>    <div id="notfound"><h1>404</h1></div>
    </body>
</html>
