<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Title }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/sunburst.min.css">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">


    <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ .Site.BaseURL }}images/favicons/manifest.json">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Stashourcode">
    <meta name="application-name" content="Stashourcode">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#1565c0">

    <!-- Meta socials-->
    {{ with .Description }}<meta name="description" content="{{ . }}" />{{ end }}

    <!-- Schema.org markup for Google+ -->
    {{ if .Title }}
    <meta itemprop="name" content="{{ .Site.Title }}">
    {{ else }}
    <meta itemprop="name" content="{{ .Site.Title }}">
    <title>{{ .Site.Title }}</title>
    {{ end }}
    {{ with .Description }}<meta itemprop="description" content="{{ . }}" />{{ end }}
    <meta itemprop="image" content="{{ .Site.BaseURL }}images/stash_300x167.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{ .Site.BaseURL }}images/stash_300x167.png">
    <meta name="twitter:site" content="@stashourcode">
    {{ if .Title }}
    <meta name="twitter:title" content="{{ .Site.Title }}">
    {{ else }}
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <title>{{ .Site.Title }}</title>
    {{ end }}
    {{ with .Description }}<meta name="twitter:description" content="{{ . }}" />{{ end }}
    {{ with .Params.Author }}<meta name="twitter:creator" content="{{ . }}" />{{ end }}
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ .Site.BaseURL }}images/stash_300x167.png">

    <!-- Open Graph data -->
    {{ if .Title }}<meta name="og:title" content="{{ .Site.Title }}">
    {{ else }}
    <meta name="og:title" content="{{ .Site.Title }}">
    <title>{{ .Site.Title }}</title>
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/stash_300x167.png">
    {{ with .Description }}<meta name="og:description" content="{{ . }}" />{{ end }}
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ with .Params.tags }}<meta property="article:tag" content="{{ delimit . " " }}" />{{ end }}
    <!-- End Meta socials -->
  </head>

<body>
  {{ partial "cookies.html" . }}
  <main>
  <a name="top"></a>
